@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Imbue:opsz,wght@10..100,100..900&family=Italiana&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Quintessential&family=Ultra&display=swap');

:root {
    --heading-color:#ffffff;
    --text-color:#eaeaea;
    --accent-color:#001f3f;
    --shadow-color: rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.hamburger {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

/* Header Section */
header {
    height: 800px;
    background: url("resources/bakery1.jpg");
    background-repeat:no-repeat;
    background-size: cover;

    nav {
        margin: 0 2rem;

        .nav-wrapper{
            position: relative;
            height: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: 20px;
                font-family: "Quicksand", sans-serif;
               
                a {
                    color: #ffffff;
                    list-style: none;
                    text-decoration: none;

                    span{
                        font-family: "Quintessential", serif;
                    }
                 }
            }

            .menu {
                display: flex;
                list-style: none;
                font-family: "poppins", sans-serif;

                li {
                    margin-left: 20px;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media  screen and (min-width: 768px) { 
        .hamburger {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 3rem 0;

        nav {
            .nav-wrapper {
                flex-direction: column;
                align-items: start;
                margin: 2rem 0;
                height: auto;

                .menu.show {
                    display: flex;
                }

                .menu {
                    display: none;
                    flex-direction: column;

                    li {
                        margin-left: 0;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }

    .banner {
        .banner-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .banner-box {
                width: 880px;
                margin: 10px;

                h1 {
                    color: var(--heading-color);
                    font-size: clamp(2rem, 10vw, 6.875rem);
                    text-shadow: 2px 2px 5px var(--shadow-color);
                }

                p {
                    font-family: "Noto Sans Thai", sans-serif;
                    color: var(--text-color);
                    font-size: clamp(1rem, 10vw, 1.875rem);
                    text-shadow: 1px 1px 3px var(--shadow-color);
                }

                .banner-btn {
                    background-color: var(--accent-color);
                    color: white;
                    max-width: 200px;
                    width: 100%;
                    height: 55px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 60px;
                }
            }
        }
    }
}

.about {
    background-image: url("resources/background2.jpg");
    background-size: cover;
    border: 2px solid var(--accent-color);

    h1 {
        text-align: center;
        color: #001f3f;
        margin-top: 2rem;
        font-size: 2.85rem;
    }

    .row {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 2rem 0;
        padding-bottom: 3rem;
        margin: 1rem;

        .video-container {
            position: relative;
            justify-content: center;
            float: left;

            video {
                width: 100%;               
                height: 600px;                
                object-fit: cover;            
                border-radius: 10px; 
                
            }
        }

        .content {
            background-color: rgb(178, 194, 225);
            border: 1px solid #eee;       
            border-radius: 15px;         
            text-align: center;           
            padding: 1.5rem;              
            box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
            width: 800px;
            font-family: "Nota Sant Thai", sans-serif;
            font-family: "poppins", sans-serif;
            
            
            h3 {
                text-align: center;
                font-size: 1.85rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}




.product h1 {
    text-align: center;
    color: #001f3f;
    margin: 2rem 0;

}
.product-grid {
    display: flex;         
    justify-content: center; 
    flex-wrap: wrap;      
    gap: 2rem;           
    padding: 2rem;         
}

.product-card {
    background-color: var(--white);
    border: 1px solid #eee;       
    border-radius: 15px;         
    text-align: center;           
    padding: 1.5rem;              
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    width: 300px;                 
}

.product-card img {
    width: 100%;                 
    height: 200px;                
    object-fit: cover;            
    border-radius: 10px;          
}

.product-card h3 {
    color: palevioletred;           
    margin-top: 1rem;
}


.product-card p {
    color: gray;           
    font-size: 1.1rem;
    font-weight: bold;
}